<div>
    <mat-card>
      <mat-card-title>
        <h2>
          Create genre
        </h2>
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="createGenre" name="createBook" (ngSubmit)="submit(createGenre.value)">
          <div class=book-name>
            <mat-form-field appearance="outline">
              <input type="text" matInput required maxlength="100" minlength="1" placeholder="book name" formControlName="genreName">
            </mat-form-field>
            <mat-error *ngIf="!createGenre.controls['genreName'].valid && createGenre.controls['genreName'].dirty">
              Genrename is required
            </mat-error>
            </div>
          <div class="description-input">
            <mat-form-field appearance="outline">
              <input type="text" required matInput minlength="50" placeholder="add book description"  formControlName="description">
            </mat-form-field>
            <mat-error *ngIf="!createGenre.controls['description'].valid && createGenre.controls['description'].dirty">
              Description is required
            </mat-error>
          </div>
            <div>
              <button type="submit" mat-flat-button color="primary" [disabled]="createGenre.invalid">
                <mat-icon>lock_open</mat-icon> ADD GENRE
              </button>
            </div>   
        </form>
      </mat-card-content>
    </mat-card>
  </div>
