<div class="card-body pt-0">
    <h2>Cost</h2>
    <div class="row col-12">
        <div class="col-5 ps-3">
            <mat-label>Min</mat-label>
            <form class="example-form">
                <mat-form-field appearance="outline">
                
                    <input class="input-font-size" type="text" matInput  placeholder="0.00">
                </mat-form-field>
            </form>
        </div>
        <div class="col-5 ms-3">
            <mat-label>Max</mat-label>
            <form class="example-form">
                <mat-form-field appearance="outline">
                    <input class="input-font-size" type="text" matInput placeholder="0.00">
                </mat-form-field>
            </form>
        </div>
    </div>
    <hr>
</div>
