<div class="card-body pt-0">
    <h2>Cost</h2>
    <div class="row col-12">
        <div class="col-5 ps-3">
            <mat-label>Min</mat-label>
            <form class="example-form">
                <mat-form-field appearance="outline">               
                    <input type="number" class="input-font-size"  matInput (change)="changeMinCost($event)" placeholder="{{minCost}}">
                </mat-form-field>
            </form>
        </div>
        <div class="col-5 ms-3">
            <mat-label>Max</mat-label>
            <form class="example-form">
                <mat-form-field appearance="outline">
                    <input type="number" class="input-font-size"  matInput (change)="changeMaxCost($event)" placeholder="{{maxCost}}">
                </mat-form-field>
            </form>
        </div>
    </div>
    <hr>
</div>
