<div>
  <mat-card>
    <mat-card-title>
      <h2>
        Create book
      </h2>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="createBook" name="createBook" (ngSubmit)="submit(createBook.value)">
        <div class=book-name>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" matInput required maxlength="100" minlength="1" placeholder="book name"
              formControlName="name">
          </mat-form-field>
          <mat-error *ngIf="!createBook.controls['name'].valid && createBook.controls['name'].dirty">
            Bookname is required
          </mat-error>
        </div>
        <div class=book-price>
          <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input type="number" matInput min="0" required placeholder="book price" formControlName="price">
          </mat-form-field>
          <mat-error *ngIf="!createBook.controls['price'].valid && createBook.controls['price'].dirty">
            Book price is required
          </mat-error>
          <mat-error *ngIf="createBook.controls['price'].value < 0 && createBook.controls['price'].valid">
            Book price must be more than zero
          </mat-error>
        </div>
        <div class="book-description">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput required minlength="50" placeholder="Book description"
              formControlName="description"></textarea>
          </mat-form-field>
          <mat-error *ngIf="!createBook.controls['description'].valid && createBook.controls['description'].dirty">
            Description is required
          </mat-error>
        </div>
        <hr>
        <a mat-button (click)="addImage()">
          <mat-icon>add_circle_outline</mat-icon>
          Add image
        </a>

        <div class="row col-12 book-image pb-3" *ngFor="let imageFile of imageFiles.controls;let i = index">
          <div class="col-9">
            <input  type="file" required multiple requiredFileType="image/png" [formArrayName]="i">
          </div>
          <div class="col-3">
            <mat-icon  (click)="removeImage()">remove_circle_outline</mat-icon>
          </div>
        </div>
        <hr>

        <div class="book-book pb-3">
          <input type="file" required formControlName="book">
        </div>
        <div class="book-genres">
          <mat-form-field appearance="outline">
            <mat-label>Genres</mat-label>
            <mat-chip-list #chipList aria-label="Genres selection">
              <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                {{fruit}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                {{fruit}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>


        <div class="d-flex justify-content-center">
          <button type="submit" mat-flat-button color="primary" [disabled]="createBook.invalid">
            <mat-icon>add_circle</mat-icon> ADD BOOK
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>